* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.header-flex {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    padding-bottom: 50px ;
}
.header {
    margin: 5px;
    border-radius: 5px;
    color: white;
    background-color: gray;
    vertical-align: middle;
    padding: 5px;
}
.navbar {
    width: 100%;
}
.conteiner {
    background-color: black;
    height: 100vh;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    height: calc(100vh - 190px);
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: calc(100% / 7);
    display: flex;
    padding: 2px;
}
.col {
    height: 100%;
}
.footer {
    height: 60px;
    background-color: rgb(34 34 34);
}
.box-footer {
    font-size: 25px;
    color: white;
    position: absolute;
    left: 0;
    top: 90%;
    display: flex;
}
.box-center {
    font-size: 25px;
}
.footer-center {
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50% , -20%);
    color: white;
}
.footer-right {
    height: 60px;
    width: 100px;
    background-color: #4a4a4a;
    color: red;
    position: absolute;
    right: 0;
    padding-top: 16px;
    padding-left: 8px;
    font-size: 15px;
}